main {
border: 3px solid gray;
background-color: white;

}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    gap: 15px;
   
}



h1 {
    margin-left: 10px;
}
div {
    text-align: center;
    border: white solid 1px;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: green;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}
li a {
    text-decoration: none;
    display: block;
    width: 60px;
    color: white;
    text-align: center;
    padding: 14px 16px;
  
}
li {
    float: left;
  }
div {
    color: white;
}
header {
    background-color: white;
    color: green;
}